header {
	background: white;
	overflow: auto;
}
header h1 {
	font-family: Verdana, serif;
	float: left;
	width: 570px;
	font-size: 30px;
	padding: 10px;
}
header nav {
	float: right;
	width: 285px;
}

main {
	font-family: arial, serif;
	background: white;
}
main h2 {
	font-family: Verdana, serif;
	padding: 10px;
	font-size: 20px;
}
main p {
	padding: 5px;
}
main p:nth-child(2), p:nth-child(4), p:nth-child(6) {
	font-weight: bold;
}

footer { 
	min-width: 855px;
	background: #f9e933;
	padding: 10px;
}
footer h5 {
	float: right;
}
footer p {
	float: right;
}
body {
	font-family: arial, serif;
}
