header {
	background: white;
	overflow: auto;
}
header h1 {
	font-family: Verdana, serif;
	float: left;
	width: 570px;
	font-size: 30px;
	padding: 10px;
}
header nav {
	float: right;
	width: 285px;
}

main {
	font-family: arial, serif;
	background: white;
	padding: 5px;
}
main h2 {
	font-family: Verdana, serif;
	font-size: 20px;
	padding: 3px;
}
main p {
	font-family: arial, serif;
	margin-left: 10px;
	padding-bottom: 10px;
}

main h3 {
	font-family: Verdana, serif;
	padding: 3px;
	font-size: 20px;
}
main ul {
	font-family: arial, serif;
	margin-left: 20px;
}


footer { 
	min-width: 855px;
	padding: 7px;
}
h4 {
	float: right;
}
h5 {
	float: left;
}
p {
	float: right;
}
body {
	background: #f9e933;
}
